/* src/css/header.css */
.rowdies {
    font-family: 'Rowdies', cursive;
    font-weight: 700; /* Adjust as needed */
  }

  .rowdies2 {
    font-family: 'Rowdies', cursive;
    font-weight: 300; /* Adjust as needed */
  }

  